@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}
body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
.num{
    color: red;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu :focus {     
    background-color:#eee;   
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        padding-bottom: 15px;
        background:var(--light);
        top: 0;
        right: 0;
        left:200px;  
        position:fixed; 
        z-index: 100; 
        font-size: 1.2rem;
      }
.admin{
    display: flex;
}
.admin li{
    padding-top: 20px;
    padding-left: 200px;
}
.adminp{
  border-radius: 50%;
}
.inpt{
    padding: 0px;
    width: 400px;
    border-radius: 17px;
    background: var(--grey);
    border: 0;
}
.sbtn{
    padding:10px;
    width: 40px;
    background: var(--blue);
    border: 0;
    right: 0;
    left: auto;
    border-radius:0 40px 40px 0;
    border-bottom-left-radius:-17px;
    border-top-right-radius:17px;
    border-bottom-right-radius:17px;
}
.inptt{
    padding: 10px;
    width: 355px;
    background: var(--grey);
    border: 0; 
    border-radius: 17px;
    outline: none;
}
.profile img{
    width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
nav a{
    padding-right:0px;
}
main {
	padding: 100px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
    
    
}
.table-data{
    margin: auto;
    width: 80%;
    border: 3px solid #F9F9F9;
    float: right;
    border-radius:20px;
    display: none;
}



table{
    margin: auto;
    width: 100%;
    padding: 10px;
    padding-left:80px;
}
table td{
    padding-left: 25px;
    padding:5px;
}


.table2-data{
    width: 50%;
    margin-left: 40%;
    border: 3px solid #F9F9F9;
    border-radius:20px;
    display: none;
    float: initial;
}
.P .Del:hover{
color: red;
cursor:auto;

}
.P .Edit:hover{
    color: blue;
    cursor:auto;
    
    }
    .Edit-post{
        margin: auto;
       width: 80%;
       border: 3px solid #F9F9F9;
       float: right;
       background-color: #A5D8DD;
       border-radius:20px;
       display:none;
       justify-content: center;
       align-items: center;
       margin:20px 0px;
       flex-wrap: wrap;
       padding: 20px;
   }
   .editpost{
    font-size: 20px;
    width: 80%;
    color:white;
    border-radius: 10px;
    background: black;
    border:3px var(--light);
}

.blog-container1{
    margin: auto;
    width: 80%;
    border: 3px solid #F9F9F9;
    float: right;
    border-radius:20px;
    display:flow-root;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    padding: 0%;
    flex-wrap: wrap;
    display: flex;
}

.blog-box1{
    width:350px;
    background-color: white;
    border:1px solid #ececec;
    margin:20px;
    display:block;
    float:left;
}
.blog-text{
    display:inline-flex;
    padding-left: 10px;
    float:right;
    padding-bottom: 20px;
}
.blog-box1.on{
    width:100%;
    background-color: white;
    border:1px solid #ececec;
    margin:20px;
    display: flex;
}
.blog-box1.on img{
  width: 700px;
  height: 400px;
}
.blog-box1.off{
   display: none;
}
.blog-box2{
    width:350px;
    background-color: white;
    border:1px solid #ececec;
    margin:20px;
    float:right;
}
.blog-box2.off{
    display: none;
 }
.blog-box3{
    width:350px;
    background-color: white;
    border:1px solid #ececec;
    margin:20px;
    float:left;
}
.blog-box4{
    width:350px;
    background-color: white;
    border:1px solid #ececec;
    margin:20px;
    float:right;
}
.icons{
    font-size: 24px;
    display: flex;
    color: #1f1e1e;
}
/*Add post*/
.Add-post{
     margin: auto;
    width: 80%;
    border: 3px solid #F9F9F9;
    float: right;
    border-radius:20px;
    display:none;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    flex-wrap: wrap;
    padding: 20px;
}
.post{
    padding: 10px;
}
.Add-post input{
    width:100%;
    height: 40px;
    margin-bottom: 2%;
    padding:10px;
}
.Edit-post input{
    width:100%;
    height: 40px;
    margin-bottom: 2%;
    padding:10px;
}
.Art_intro{
    width:100%;
    height: 160px;
    padding:10px;
}
.iconimg{
    font-size: 40px;
}
.addpost{
    font-size: 20px;
    width: 80%;
    border-radius: 10px;
    background: #8cbcec;
    border:3px var(--light);
}
.notification{
    color: rgb(9, 219, 9);
}
.notification i{
    color: rgb(0, 0, 0);
}
/*Recent Activities*/
.table3-data{
    margin: auto;
    width: 500px;
    border: 3px solid #F9F9F9;
    border-radius:20px;
    display: none;
    background: var(--light);
    padding-left: 30px;
}
.table3-data td{
padding-left: 20px;
}
.table3-data h3{
    padding-left: 45px;
    }

/*Responsive*/
@media (max-width:1305px){
    .blog-container1{
        width: 90%;
        border: 3px solid #F9F9F9;
        float: right;
        border-radius:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 1000px;
        flex-wrap: wrap;
        display: flex;
    }   
    table{
        margin: auto;
        width: 100%;
        padding: 0px;
        padding-left:130px;
    }
}